* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
#map {
  width:100%;
  height:100vh;
}

.form-container {
  width: 100%;
  max-width: 414px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
  padding: .7em;
  box-shadow: 0 0 15px rgba(0,0,0,.3)
}

.form-container form {
  margin-bottom: 0;
}

.user-icon {
  width: 12px !important;
  height: 12px !important;
  background-color: #DB4437;
  border-radius: 50%;
  box-shadow: 3px -3px 15px rgba(0,0,0,.5);
}
.inputs-container {
  display: flex;
  justify-content: space-between;
}
#line {
  outline: none;
  border: 2px solid #4285F4;
  padding: .5em;
  color: #4285F4;
  font-size: 1.2em;
  text-align: center;
  border-radius: 50%/100px;
  width: 60%;
}
#submit {
  outline: none;
  border: 2px solid #4285F4;
  padding: .5em;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  border-radius: 50%/50px;
  background-color: #4285F4;
  width: 35%;
}
/* checkbox */

.checkbox-container {
  display: flex;
  margin-bottom: 1em;
}
.toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9A9999;
  border-radius: 8px;
  transition: background 0.2s ease;
}
.toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}
.toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(66, 133, 244, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

#type:checked + .toggle:before {
  background: #8cb5f8;
}
#type:checked + .toggle span {
  background: #4285F4;
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(66, 133, 244, 0.2);
}
#type:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}
